version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: masterdom_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # Сервис бэкенда (Go API)
  api:
    build:
      context: ./api
    container_name: masterdom_api
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - DB_URL=${DB_URL}
    ports:
      - "8080:8080"
    # API зависит от того, чтобы база данных была готова к работе.
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  # Сервис фронтенда (React + Nginx)
  web:
    build:
      context: ./web
    container_name: masterdom_web
    # Порт 3000:80 удален, так как Nginx Proxy Manager будет маршрутизировать трафик.
    # Теперь web-сервис будет доступен только внутри Docker-сети.
    depends_on:
      - api
    restart: unless-stopped

  # Сервис Nginx Proxy Manager для управления HTTPS и проксированием
  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: masterdom_npm
    ports:
      - "80:80"   # HTTP
      - "443:443" # HTTPS
      - "81:81"   # Панель управления Nginx Proxy Manager
    volumes:
      - ./npm/data:/data       # Для хранения конфигурации NPM
      - ./npm/letsencrypt:/etc/letsencrypt # Для хранения SSL-сертификатов Let's Encrypt
    depends_on:
      - web # Nginx Proxy Manager зависит от веб-сервиса
    restart: unless-stopped

volumes:
  postgres_data:
